<div class="container">
  <div class="item A" id="A">
    <a href="#A" class="item-link">
      item A
    </a>
    <div>Contents of A</div>
  </div>

  <div class="item B" id="B">
    <a href="#B" class="item-link">
      item B
    </a>
    <div>Contents of B</div>
  </div>

  <div class="item C" id="C">
    <a href="#C" class="item-link">
      item C
    </a>
    <div>Contents of C</div>
  </div>

  <div class="item D" id="D">
    <a href="#D" class="item-link">
      item D
    </a>
    <div>Contents of D</div>
  </div>

  <div class="item E" id="E">
    <a href="#E" class="item-link">
      item E
    </a>
    <div>Contents of E</div>
  </div>
</div>

<div class="info">
  Press and hold any item!
</div>
